.wrapper
  .formWrap
    = form_with model: @event do |f|
      .formAll
        .formDefault
          .formDefault__inner
            機材名:
        .formInput
          .formInput__inner
            カメラ1
      .formAll
        .formDefault
          .formDefault__inner
            予約開始日:
        .formInput
          .formInput__select
            = f.collection_select :start_year, Year.all, :id, :name
          .formInput__string
            年
          .formInput__select
            = f.collection_select :start_month, Month.all, :id, :name
          .formInput__string
            月
          .formInput__select
            = f.collection_select :start_day, Day.all, :id, :name
          .formInput__string
            日
      .formAll
        .formDefault
          .formDefault__inner
            予約終了日:
        .formInput
          .formInput__select
            = f.collection_select :end_year, Year.all, :id, :name
          .formInput__string
            年
          .formInput__select
            = f.collection_select :end_month, Month.all, :id, :name
          .formInput__string
            月
          .formInput__select
            = f.collection_select :end_day, Day.all, :id, :name
          .formInput__string
            日
      .formAll
        .formDefault
          .formDefault__inner
            番組名:
        .formInput
          .formInput__inner
            = f.text_field :program_name, class: "program_name"
      .formAll
        .formDefault
          .formDefault__inner
            使用場所:
        .formInput
          .formInput__inner
            = f.text_field :place, class: "place"
      .formAll
        .formDefault
          .formDefault__inner
            責任者:
        .formInput
          .formInput__inner
            = f.text_field :manager_name, class: "manager"
      .formAll_description
        .formDefault
          .formDefault__inner
            備考:
        .formInput
          .formInput__inner
            = f.text_area :description, placeholder: " 備考などあれば記入してください", cols: "50", rows: "7"
      .form__btn
        .form__submit
          = f.submit "予約する", class: "submitBtn"
        .form__cancel
          = f.submit "キャンセル", class: "cancelBtn"
